.btn-scroll.i {
	margin-left: 10px;
}

.inner-container {
	width: 1170px;
	height: 100%;
}

.horizontal-line {
	width: 40px;
	border-top: 2px solid;
	margin: 13px auto 13px auto;
}

.vertical-line {
	width: 2px;
	height: 78px;
	border-right: 2px solid #207b20;
	margin-top: 11px;
	margin-bottom: 13px;
}

.social-media-container {
	width: 84px;
	height: 22px;
	border-radius: 15px;
	padding: 4px 0;
	margin-top: 10px;
	font-size: 0;
} 

.social-media-container .social-media-icon {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	//background-color: white;
	display: inline-block;
	vertical-align: top;
	margin: 0 3px;
	font-size: 20px;
	line-height: 20px;
}

.social-media-container .social-media-icon.dribbble-red {
	color: #ea4c89;
}

.social-media-container .social-media-icon.be-blue {
	background-color: #0061ff;
	color: #b9e1c8;
	font-size: 10px;
}

.social-media-container .social-media-icon.be-blue i {
	margin-top: 3px;
}

.twitter-blue-background {
	background-color: #00aced;
}

.facebook-blue-background {
	background-color: #1d53aa;
}

.social-media-container .social-media-icon i {
	display: inline-block;
	vertical-align: top;
}

.social-media-container img {
	margin: 0 3px;
	transition: all 0.5s ease;
}

.social-media-container img:hover {
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

header {
	height: 660px;
	width: 100%;
	background: url("../img/background.png") no-repeat center center; 
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	transition: all 0.5s ease;
}

header.scrolled {
	height: 900px;
}

header nav {
	height: 33px;
	max-width: 1170px;
	position: relative;
	margin-bottom: 243px !important;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 300;
	position: absolute;
	bottom: 0;
	left: 10px;
	height: 27px;
}

header nav ul li {
	display: inline;
	margin-left: 20px;
}

header nav ul li a {
	text-decoration: none;
	color: #d6d7d5;
	transition: all 0.2s ease;
}

header nav ul li a:hover {
	border-top: 4px solid #54d154;
	color: #ffffff;
}

header nav img {
	position: absolute;
	top: 10px;
}

header nav input[type=text]{
	position: relative;
	left: 963px;
	right: 0;
	top: 5px;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 20px;
	border: none;
	background: #d4d0d1 url("../img/loop.png") no-repeat 160px 8px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    display: block;	
}

header h1 {
	font-size: 55px;
	margin-bottom: 56px;
}

header .btn-work-with-us {
	padding: 15px 30px;
	background-color: #54d154;
	font-size: 22px;
	width: 248px;
	transition: all 0.5s ease;
}

header .btn-work-with-us:hover {
	background-color: #73ec73;
	color: #49a349;
}

header .btn-work-with-us i {
	margin-left: 10px;
}

header .btn-scroll {
	background-color: #c2bfbf;
	padding: 3px 8px;
	font-size: 12px;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    color: #56504c;
    margin-top: 170px;
    width: 104px;
    transition: all 0.5s ease;
}

header .btn-scroll:hover{
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

header .btn-scroll i {
	margin-left: 10px;
}

header .btn-scroll.scrolled {
	margin-top:405px;
}

section {
	width: 100%;
}

.inner-container h3 {
	font-size: 20px;
	font-weight: 200;
}

.inner-container p {
	font-size: 16px;
	font-weight: 200;
}

#what-we-do {
	height: 538px;
	padding: 42px 0 0 0;	
}

#what-we-do .inner-container {
	height: 100%;
	width: 1144px;
	padding: 0 13px;
}

#what-we-do .inner-container h3 {
	color: #828181;
}

#what-we-do .inner-container .horizontal-line {
	border-color: #828181;
}

#what-we-do .inner-container p {
	color: #d6d3d3;
	margin-bottom: 72px;
}

#what-we-do .inner-container .info-container {
	width: 266px;
	height: 335px;
	display: inline-block;
	vertical-align: top;
	margin: 0 55px;
	color: #828181;
}

#what-we-do .inner-container .info-container .info-img {
	width: 140px;
	height: 140px;
	border-radius: 20px;
	background-color: #e1f3e1;
	line-height: 140px;
	vertical-align: middle;
	font-size: 85px;
	color: #54d154;
}

#what-we-do .inner-container .info-container .info-img.center-background-img {
	background-repeat: no-repeat;
	background-position: center center;	
}

#what-we-do .inner-container .info-container h4 {
	font-size: 22px;
	margin: 28px 0 20px 0;
}

#what-we-do .inner-container .info-container p {
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 30px;
}

#what-we-do .inner-container .info-container .btn-learn-more{
	padding: 5px 0;
	background-color: #54d154;
	font-size: 16px;
	width: 120px;
	transition: all 0.5s ease;
}

#what-we-do .inner-container .info-container .btn-learn-more:hover {
	background-color: #73ec73;
	color: #49a349;
}

#our-lastest-work {
	height: 706px;
	padding-top: 42px;
	background-color: #54d154;
	color: #207b20;
}

#our-lastest-work .inner-container {
	font-size: 0;
}

#our-lastest-work .inner-container p {
	margin-bottom: 60px;
}

#our-lastest-work .inner-container .btn-work-type {
	height: 32px;
	display: inline-block;
	vertical-align: top;
	background-color: #ffffff;
	color: #2b9b2b;
	line-height: 33px;
	border-radius: 0;
	font-size: 16px;
	font-weight: 300;
	border: 1px solid #2b9b2b;
	transition: all 0.5s ease;
}

#our-lastest-work .inner-container .btn-work-type:hover {
	cursor: pointer;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */	
}

#our-lastest-work .inner-container .btn-work-type.selected {
	background-color: #2b9b2b;
	color: #a5cda5;	
	border: 1px solid #2b9b2b;
}

#photography-btn {
	width: 122px;
}

#design-btn {
	width: 88px;
}

#print-btn {
	width: 68px;
}

#our-lastest-work .inner-container .gallery-container {
	width: 950px;
	font-size: 0;
	margin-top: 43px;
	height: 372px;
}

#our-lastest-work .inner-container .gallery-container .gallery-element {
	width: 160px;
	height: 160px;
	display: inline-block;
	vertical-align: top;
	margin: 13px 15px;
	transition: all 0.5s ease;
}

#image-1 {
	background-image: url("../img/sunset.png")
}

#image-2 {
	background-image: url("../img/imac.png")
}

#image-3 {
	background-image: url("../img/cake.png")
}

#image-4 {
	background-image: url("../img/cat.png")
}

#image-5 {
	background-image: url("../img/laptop.png")
}

#image-6 {
	background-image: url("../img/can.png")
}

#image-7 {
	background-image: url("../img/coffee.png")
}

#image-8 {
	background-image: url("../img/nail.png")
}

#image-9 {
	background-image: url("../img/bugs.png")
}

#image-10 {
	background-image: url("../img/plant.png")
}

#our-lastest-work .inner-container .btn-view-more-work {
	padding: 10px 20px;
	background-color: #2b9b2b;
	font-size: 18px;
	width: 190px;	
	font-weight: 300;
	margin-top: 42px;
	transition: all 0.5s ease;
}

#our-lastest-work .inner-container .btn-view-more-work:hover {
	background-color: #1f7f1f;
	color: #ffffff;
}

#our-lastest-work .inner-container .btn-view-more-work i {
	margin-left: 15px;
}

#testimonials {
	height: 304px;
	padding-top: 40px;
	color: #828181;
}

#testimonials .inner-container .slide-container {
	height: 115px;
	width: 755px;
	margin-top: 72px;
	position: relative;
}

#testimonials .inner-container .slide-container .left-arrow {
	position: absolute;
	left: 0;
	top: 20px;
}

#testimonials .inner-container .slide-container .left-arrow:hover {
	cursor: pointer
}

#testimonials .inner-container .slide-container .right-arrow {
	position: absolute;
	right: 0;
	top: 20px;
}

#testimonials .inner-container .slide-container .right-arrow:hover {
	cursor: pointer
}

#testimonials .inner-container .slide-container .inner-slide-container {
	z-index: 1;
	width: 100%;
}

#testimonials .inner-container .slide-container .inner-slide-container p {
	font-size: 16px;
	font-weight: 300;
}

#testimonials .inner-container .slide-container .inner-slide-container .profile-container {
	width: 200px;
	font-size: 0;
	margin-top: 15px;
	text-align: justify;
}

#testimonials .inner-container .slide-container .inner-slide-container .profile-container img {
	display: inline-block;
	vertical-align: top;
}

#testimonials .inner-container .slide-container .inner-slide-container .profile-container .profile-description {
	display: inline-block;
	vertical-align: top;
	margin: 4px 0 0 4px;
}

#testimonials .inner-container .slide-container .inner-slide-container .profile-container .profile-description h5 {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 5px;
}

#testimonials .inner-container .slide-container .inner-slide-container .profile-container .profile-description h6 {
	font-size: 16px;
	font-weight: 700;
	color: #d7d7d7;
}

#clients {
	height: 467px;
	padding-top: 30px;
	background-color: #f2f1f1;
	color: #828181;
}

#clients .inner-container {
	font-size: 0;
}

#clients .inner-container p {
	margin-bottom: 45px;
}

#clients .inner-container .clients-container {
	width: 950px;
	height: 200px;
	text-align: left;
}

#clients .inner-container .clients-container .client-logo-container {
	width: 160px;
	height: 70px;
	display: inline-block;
	vertical-align: top;
	margin: 20px 38px;
}

#google-logo {
	background: url("../img/google.png") no-repeat center center;
}

#yahoo-logo {
	background: url("../img/yahoo.png") no-repeat center center;
}

#microsoft-logo {
	background: url("../img/microsoft.png") no-repeat center center;
}

#intel-logo {
	background: url("../img/intel.png") no-repeat center center;
}

#qualcomm-logo {
	background: url("../img/qualcomm.png") no-repeat center center;
}

#cisco-logo {
	background: url("../img/cisco.png") no-repeat center center;
}

#apple-logo {
	background: url("../img/apple.png") no-repeat center center;
}

#asus-logo {
	background: url("../img/asus.png") no-repeat center center;
}

#clients .inner-container .btn-see-all-client {
	padding: 10px 20px;
	background-color: #dddcdc;
	color: #a59d9d;
	font-size: 18px;
	width: 190px;	
	font-weight: 300;
	margin-top: 42px;
	transition: all 0.5s ease;
}

#clients .inner-container .btn-see-all-client:hover {
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */	
}

#clients .inner-container .btn-see-all-client i {
	margin-left: 20px;
}

#the-team {
	height: 545px;
	background-color: #54d154;
	padding-top: 35px;
	color: #298829;
}

#the-team .inner-container {
	height: 452px;
	font-size: 0;
}

#the-team .inner-container p {
	margin-bottom: 50px;
}

#the-team .inner-container .team-container {
	width: 900px;
	height: 300px;
	font-size: 0;
}

#the-team .inner-container .team-container .team-member-profile {
	width: 125px;
	height: 285px;
	display: inline-block;
	vertical-align: top;
	margin: 0 25px;
}

#the-team .inner-container .team-container .team-member-profile img {
	margin-bottom: 10px;
}

#the-team .inner-container .team-container .team-member-profile h6 {
	font-size: 16px;
	font-weight: 300;
	color: #ffffff;
	margin: 12px 0 14px 0;
}

#the-team .inner-container .team-container .team-member-profile .social-media-container {
	background-color: #c5e9c5;
} 

#the-team .bottom-container {
	height: 66px;
	padding-top: 27px;
	background-color: #3eba3e;
}

#the-team .bottom-container .btn-work-with-us {
	padding: 10px 20px;
	background-color: #54d154;
	color: #e4f6e4;
	font-size: 18px;
	width: 180px;	
	font-weight: 300;
	-webkit-box-shadow: 1px 18px 53px -5px rgba(0,0,0,0.62);
	-moz-box-shadow: 1px 18px 53px -5px rgba(0,0,0,0.62);
	box-shadow: 1px 18px 53px -5px rgba(0,0,0,0.62);
	transition: all 0.5s ease;
}

#the-team .bottom-container .btn-work-with-us:hover {
	background-color: #73ec73;
	color: #438943;
	-webkit-box-shadow: 0px 3px 34px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 34px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 34px -4px rgba(0,0,0,0.75);
}

#company-information {
	background-color: #333333;
	color: #aeaeae;
	height: 409px;
	padding-top: 31px;
}

#company-information .inner-container {
	font-size: 0;
	padding: 0 16px;
}

#company-information .inner-container .information-inner-container {
	width: 324px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin: 0 24px;
}

#company-information .inner-container .information-inner-container h5 {
	font-size: 16px;
	font-weight: 300;	
}

#company-information .inner-container .information-inner-container .horizontal-line {
	width: 30px;
	margin: 7px auto 17px auto;
}

#about-us .social-media-container {
	background-color: #e6e7e6;
}

#about-us h5 {
	font-size: 16px;
	font-weight: 300;
}

#about-us p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 28px;
}

#recent-post .post-container {
	height: 53px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-bottom: 12px;
}

#recent-post .post-container .post-description-container {
	display: inline-block;
	vertical-align: top;
	margin-left: 9px;
	padding-top: 5px;
}

#recent-post .post-container h6 {
	font-size: 16px;
	font-weight: 300;
}

#recent-post .post-container .btn-post-type {
	padding: 5px 10px;
	font-size: 12px;
	width: auto;
	font-weight: 300;
	margin-top: 5px;
	display: inline-block;
	vertical-align: top;
	transition: all 0.5s ease;
}

#recent-post .post-container .btn-post-type:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */	
}

#recent-post .post-container .btn-post-type.magazine {
	background-color: #54d154;
	color: #eefaee;
}

#recent-post .post-container .btn-post-type.ui-design {
	background-color: #ffba00;
}

#recent-post .post-container .btn-post-type.photography {
	background-color: #089dea;
}

#recent-post .post-container .btn-post-type.book {
	background-color: #f34d04;
}

#contact-us p {
	font-size: 12px;
	font-weight: 300;
}

#contact-us h6 {
	font-size: 12px;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
}

#contact-us a {
	text-decoration: none;
	font-size: 12px;
	font-weight: 300;
	color: #aeaeae;
	display: inline-block;
	vertical-align: top;
}

#contact-us .contact-form-container {
	width: 100%;
	height: 234px;
	margin-top: 25px;
}

#contact-us .contact-form-container .contact-form input[type=text] {
	padding: 5px 0 0 15px;
	font-size: 16px;
	background-color: #444444;
	border: none;
	color: #777777;
	margin-bottom: 2px;
	height: 30px;
	width: 311px;
}

#contact-us .contact-form-container .contact-form input[type=submit] {
	background-color: #2b9b2b;
	color: #abd1ab;
	font-size: 14px;
	padding: 5px 145px;
	border: 0;
	transition: all 0.5s ease;
}

#contact-us .contact-form-container .contact-form input[type=submit]:hover {
	cursor: pointer;
	opacity: 0.8;
}

#contact-us .contact-form-container .contact-form textarea {
	font-size: 16px;
	background-color: #444444;
	border: none;
	color: #777777;
	margin-bottom: 2px;
	padding: 10px 0 0 16px;
	width: 311px;
	height: 130px;
}

#input-name {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#submit-send {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

footer {
	background-color: #222222;
}

footer .inner-container {
	height: 148px;
	background: url("../img/footerbackground.png") no-repeat center center;
}

#made-by {
	width: 100%;
	background-color: #222222;
}

#made-by .inner-container h5 {
	font-size: 16px;
	font-weight: 300;
}

/* MODAL WINDOW STYLES */

.popUpContainer {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}

.popUpContainer .popUpWindow {
	position: absolute;
	background-color: white;
	color: black;
	text-align: center;
	height: 500px;
	width: 300px;
	border-radius: 1%;
	z-index: 200;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
}

.popUpContainer .popUpWindow h2, p {
	font-family: 'helvetica', sans-serif;
}

.popUpContainer .popUpWindow h2{
	margin: 20% 0 5% 0;
}

.popUpContainer .popUpWindow p {
	padding: 0 6%;
}

.popUpContainer .popUpWindow a {
	position: absolute;
	top: 3%;
	left: 5%;
	text-decoration: none;
}

.popUpContainer .popUpWindow a i {
	font-size: 40px;
	color: black;
	transition: all ease 0.4s;
}

.popUpContainer .popUpWindow a i:hover {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
    opacity: 0.9;
}
