.center-element {
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

.border-left {
	border-top-left-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
}

.border-right {
	border-top-right-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
}

.btn-stnd {
	border-radius: 20px;
	text-decoration: none;
	color: #ffffff;
	display: block;
}